* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*****************************************************/

header {
    height: calc(100vh - 65px);
}

header .headerBackground {
    background-image: url('images/pictures/main.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

header .headerBackground * {
    height: 100px;
    position: absolute;
}

header .headerBackground .logo {
    top: 25px;
    left: 25px;
}

header .headerBackground .gold {
    top: 25px;
    left: 205px;
}

header .headerBackground .country {
    top: 25px;
    right: 230px;
}

header .headerBackground .town {
    top: 25px;
    right: 25px;
}

header .headerBackground .accessibility {
    height: 65px;
    width: 65px;
    bottom: 95px;
    right: 25px;
    background-color: #0680C1;
    border-radius: 5px;
}

header .headerBackground .accessibility .icon {
    height: 50px;
    width: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

header .headerBackground .accessibility:hover {
    background-color: #036AA0;
}

/*****************************************************/

.navbar {
    background-color: #0680C1;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .navbarList {
    list-style: none;
    height: 65px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

.navbar .navbarList li .navItem {
    cursor: pointer;
}

.navbar .navbarList li .navItem p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .navbarList li .navItem {
    color: white;
    text-decoration: none;
}

.navbar .navbarList li:hover {
    background-color: #036AA0;
}

.navbar .navbarList li .subNavbar {
    display: none;
    background-color: #036AA0;
    position: absolute;
    left: 0;
    width: 100vw;
}

.navbar .navbarList li .subNavbarBottom {
    top: 100%;
}

.navbar .navbarList li .subNavbarTop {
    bottom: 100%;
}

.navbar .navbarList li:hover .subNavbar {
    display: block;
}

.navbar .navbarList li .subNavbar li {
    width: 12.235vw;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    padding: 20px 0 35px 0;
    cursor: pointer;
}

.navbar .navbarList li .subNavbar li:hover {
    background-color: #035b8b;
}

.navbar .navbarList li .subNavbar li a {
    color: white;
    text-decoration: none;
}

.navbar .navbarList li .subNavbar li img {
    height: 75px;
    display: block;
    margin: auto
}

.navbar .navbarList li .subNavbar li p {
    width: 100%;
    text-align: center;
    position: relative;
}

.navbar .navbarList li .subNavbar li .highlighted {
    color: #9DFF00;
}

/*****************************************************/

main section {
    padding: 30px;
}

main section h1 {
    font-weight: normal;
}

main section:nth-child(odd) {
    background-color: white;
}

main section:nth-child(even) {
    background-color: #f0f0f0;
}

main section .containerList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

main section .containerList .containerFrame {
    padding: 10px;
}

main section .containerList .container {
    cursor: pointer;
}

main section .containerList .container:hover {
    transition: 0.2s;
}

main section .containerList .thumbnailContainer {
    background-color: white;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

main section .containerList .largeThumbnailContainer {
    height: 30vw;
    border-radius: 10px;
}

main section .containerList .largeThumbnailContainer:hover {
    transform: scale(1.02);
}

main section .containerList .smallThumbnailContainer {
    height: 16vw;
    border-radius: 5px;
}

main section .containerList .smallThumbnailContainer:hover {
    transform: scale(1.05);
}

main section .containerList .thumbnailContainer * {
    display: block;
    margin: auto;
}

main section .containerList .thumbnailContainer .imageContainer {
    display: flex;
    justify-content: center;
    height: 75%;
}

main section .containerList .thumbnailContainer .imageContainer img {
  height: 100%;
  object-fit: cover;
  flex: 0 0 auto;
}

main section .containerList .thumbnailContainer div {
    background-color: white;
    height: 25%;
}

main section .containerList .thumbnailContainer div p {
    font-size: large;
    position: relative;
    top: 20px;
    left: 20px;
}

main section .containerList .logoContainer {
    vertical-align: middle;
    justify-content: center;
    height: 7.75vw;
    margin: 20px auto;
}

main section .containerList .logoContainer:hover {
    transform: scale(1.2);
}

main section .containerList .logoContainer img {
    height: 7.75vw;
    margin: auto;
}

main section .buttonContainer {
    margin-bottom: 30px;
}

main section .buttonContainer .moreButton {
    position: absolute;
    right: 30px;
    border: 0;
    background-color: white;
    font-size: large;
    color: #0680C1;
    cursor: pointer;
}

main section .buttonContainer .moreButton:hover {
    color: #035b8b;
}

/*****************************************************/

footer {
    background-color: #0680C1;
    height: 100px
}

footer .archive {
    position: relative;
    top: 25px;
    left: 25px;
    color: white;
}

footer .archive:hover {
    color: lightblue;
}

footer .report {
    position: relative;
    top: 25px;
    left: 75px;
    color: pink;
}

footer .report:hover {
    color: rgb(255, 118, 118);
}

footer input[type=text] {
    position: relative;
    top: 25px;
    left: 125px;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
