.dynamicTitle {
    color: #035b8b;
}

main section {
    margin: auto;
    max-width: 1000px;
}

main section .message {
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

main section .message a {
    color: white;
}

main section .message a:hover {
    color: lightgray;
}

main section .fail {
    background-color: rgb(255, 96, 96);
}

main section .success {
    background-color: rgb(70, 171, 70);
}

main section .adminForm {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
}

main section .adminForm input {
    margin: 5px 0 10px 0;
    width: calc(100% - 10px);
    font-size: 1.1rem;
    border-radius: 5px;
}

main section .adminForm input:not([type=file]) {
    padding: 5px;
    border: 1px solid lightgray;
}

main section .adminForm #editor {
    margin-bottom: 10px;
    background-color: white;
    min-height: 15vh;
}

main section .adminForm button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

main section .adminForm .mainButton {
    border: 1px solid #0680C1;
    background-color: #0680C1;
    color: white;
}

main section .adminForm .mainButton:hover {
    transition: 0.2s;
    background-color: white;
    color: #0680C1;
}

main section small {
    margin: 0 10px;
}
