* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

/*****************************************************/

.grayscale {
    filter: grayscale(100%);
}

/*****************************************************/

.contrastYellow {
    background-color: black !important;
    color: yellow !important;
}

.contrastWhite {
    background-color: black !important;
    color: white !important;
}

.contrastWhite .thumbnailContainer {
    border: 2px solid white !important;
}

/*****************************************************/

.imagesHidden img:not(.navbar img):not(footer img) {
    display: none !important;
}

.imagesHidden video:not(.navbar video):not(footer video) {
    display: none !important;
}

.imagesHidden .thumbnailContainer {
    height: 100px;
}

.imagesHidden .imageContainer {
    display: none !important;
}

.imagesHidden .titleContainer {
    height: 100%;
}

.imagesHidden .logoDesc {
    display: block;
}

/*****************************************************/

.fontIcon {
    display: inline;
    position: relative;
}

.smallFontIcon {
    height: 0.9rem;
    stroke-width: 2.5;
    top: 1px;
}

.largeFontIcon {
    height: 1.2rem;
    stroke-width: 1.9;
    top: 4px;
}

.veryLargeFontIcon {
    height: 1.5rem;
    stroke-width: 1.9;
    top: 4px;
}

/*****************************************************/

.accessibilitySettings {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: 15;
    border: 1px solid black;
}

.accessibilitySettings.open {
    display: block;
}

.accessibilitySettings .accessibilityClose {
    position: absolute;
    top: -20px;
    right: -20px;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 96, 96);
    color: white;
    border: 1px solid rgb(255, 96, 96);
    border-radius: 20px;
    cursor: pointer;
}

.accessibilitySettings .accessibilityClose:hover {
    background-color: white;
    color: rgb(255, 96, 96);
}

.accessibilitySettings a {
    display: block;
    position: static;
    line-height: 45px;
    text-align: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0;
    color: black;
    font-size: 1.05rem;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.accessibilitySettings a:hover {
    background-color: lightgray;
}

.accessibilitySettings a svg {
    display: inline;
}

/*****************************************************/

.navbar {
    min-height: 65px;
    background-color: #0680C1;
    position: sticky;
    top: 0;
    z-index: 10;
    user-select: none;
}

.navbar .navbarLeft {
    display: block;
    height: 65px;
}

.navbar .navbarList {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
}

.navbar .navbarList li .navItem {
    display: block;
    cursor: pointer;
    height: 65px;
    color: white;
    text-decoration: none;
}

.navbar .navbarList li .navItem p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.navbar .navbarList li:hover {
    background-color: #036AA0;
}

.navbar .navbarList li .subNavbar {
    display: none;
    background-color: #036AA0;
    position: absolute;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    z-index: 9;
}

.navbar .navbarList li.active .navItem {
    background-color: #036AA0;
}

.navbar .navbarList li.active>.subNavbar {
    display: flex;
    position: static;
}

.navbar .navbarList li .subNavbar li {
    flex: 1 1 12.5%;
    max-width: 12.5%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.navbar .navbarList li .subNavbar li:hover {
    background-color: #035b8b;
}

.navbar .navbarList li .subNavbar li a {
    display: block;
    min-height: 110px;
    padding: 30px 0 10px 0;
    color: white;
    text-decoration: none;
}

.navbar .navbarList li .subNavbar li .imageIcon {
    display: block;
    stroke-width: 1.4px;
    margin: 0 auto 10px auto;
    max-width: 48px;
    max-height: 48px;
}

.navbar .navbarList li .subNavbar li p {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0;
}

.navbar .navbarList li .subNavbar .highlighted {
    color: greenyellow;
}

.navbar .navbarRight .navbarOption {
    display: flex;
    height: 65px;
    width: 65px;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.navbar .navbarRight .navbarOption:hover {
    background-color: #036AA0;
}

.navbar .navbarRight .menuToggle {
    display: none;
}

.navbar .navbarRight .menuToggle .icon {
    stroke-width: 2px;
}

@media (pointer: fine) {
    .navbar {
        display: flex;
    }

    .navbar .navbarList {
        width: calc(100% - 65px);
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    }

    .navbar .navbarList li:hover .subNavbar {
        display: flex;
    }

    .navbar .navbarList li .subNavbarBottom {
        top: 100%;
    }

    .navbar .navbarList li .subNavbarTop {
        bottom: 100%;
    }

    .navbar .navbarRight {
        width: 65px;
    }
}

@media (pointer: coarse) {
    .navbar .navbarList {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 65px);
        overflow-y: scroll;
    }

    .navbar .navbarList {
        display: none;
    }

    .navbar .navbarList.open {
        display: flex;
    }

    .navbar .navbarList li {
        width: 100%;
    }

    .navbar .navbarRight {
        display: flex;
        flex-direction: row;
        max-height: 65px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar .navbarRight * {
        display: flex;
    }

    .navbar .navbarRight .menuToggle {
        display: flex;
    }
}

@media (max-width: 1200px) {
    .navbar .navbarList li .subNavbar li {
        flex: 1 1 25%;
        max-width: 25%;
    }
}

@media (max-width: 750px) {
    .navbar .navbarList li .subNavbar li {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

/*****************************************************/

main section {
    overflow: auto;
}

main section:nth-child(odd) {
    background-color: white;
}

main section:nth-child(even) {
    background-color: #f0f0f0;
}

main section h1,
main section h2,
main section h3 {
    font-weight: normal;
    margin-bottom: 15px;
}

main section h1 {
    font-size: 2rem;
}

main section .textImage {
    border-radius: 10px;
}

main section .wrapper {
    background-color: #f0f0f0;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    overflow: hidden;
}

main section .textWrapper {
    padding: 20px;
}

main section .wrapper div:nth-child(even) {
    background-color: #f8f8f8;
}

main section .wrapper div h3 {
    margin: 0;
    padding: 20px;
    cursor: pointer;
}

main section .wrapper div h3:hover {
    background-color: lightgray;
}

main section .wrapper div p {
    margin: 0 20px 20px 20px;
}

main section .wrapper p {
    margin-bottom: 20px;
}

main section ul {
    font-size: 1.1rem;
    list-style-position: inside;
    margin-left: 10px;
}

main section ul li {
    margin: 2px 0;
}

main section .containerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

main section .containerList .containerFrame {
    margin: 20px 0 25px;
}

main section .containerList .containerFrame .container {
    margin: auto;
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

main section .containerList .containerFrame .container:hover {
    transition: 0.2s;
}

main section .containerList .containerFrame .thumbnailContainer {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

main section .containerList .largeContainerFrame .thumbnailContainer:hover {
    transform: scale(1.03);
}

main section .containerList .smallContainerFrame .thumbnailContainer:hover {
    transform: scale(1.06);
}

main section .containerList .containerFrame .thumbnailContainer * {
    display: block;
    margin: auto;
}

main section .containerList .containerFrame .thumbnailContainer .imageContainer:not(.imagesHidden .imageContainer) {
    display: flex;
    justify-content: center;
    height: 75%;
}

main section .containerList .containerFrame .thumbnailContainer .imageContainer img {
    height: 100%;
    object-fit: cover;
    flex: 0 0 auto;
}

main section .containerList .containerFrame .thumbnailContainer .titleContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .containerList .containerFrame .thumbnailContainer .titleContainer:not(.imagesHidden .titleContainer) {
    height: 25%;
}

main section .containerList .containerFrame .thumbnailContainer div p {
    text-align: center;
    font-size: 1.1rem;
}

main section .logoList .logoContainer {
    text-decoration: none;
    color: black;
}

main section .logoList .logoContainer:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

main section .logoList .logoContainer .logoDesc:not(.imagesHidden .logoDesc) {
    display: none;
    text-align: center;
    font-size: 1.1rem;
}

main section .buttonContainer {
    margin-bottom: 15px;
}

main section .buttonContainer .moreButton {
    display: block;
    width: 100%;
    border: 0;
    background-color: white;
    color: #0680C1;
    cursor: pointer;
    font-size: 1.3rem;
    text-decoration: none;
}

main section .buttonContainer .moreButton:hover {
    color: #035b8b;
    text-decoration: underline;
}

main section button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

main section .primaryButton {
    border: 1px solid #0680C1;
    background-color: #0680C1;
    color: white;
}

main section .primaryButton:hover {
    transition: 0.2s;
    background-color: white;
    color: #0680C1;
}

main section .secondaryButton {
    border: 1px solid #999999;
    background-color: #999999;
    color: white;
}

main section .secondaryButton:hover {
    transition: 0.2s;
    background-color: white;
    color: #999999;
}

main section .successButton {
    border: 1px solid rgb(70, 171, 70);
    background-color: rgb(70, 171, 70);
    color: white;
}

main section .successButton:hover {
    transition: 0.2s;
    background-color: white;
    color: rgb(70, 171, 70);
}

main section .dangerButton {
    border: 1px solid rgb(255, 96, 96);
    background-color: rgb(255, 96, 96);
    color: white;
}

main section .dangerButton:hover {
    transition: 0.2s;
    background-color: white;
    color: rgb(255, 96, 96);
}

@media (min-width: 1100.5px) {
    main section {
        padding: 20px 5vw 50px 5vw;
    }

    main section .containerList .largeContainerFrame {
        flex: 1 1 33.33%;
        max-width: 33.33%;
    }

    main section .containerList .smallContainerFrame {
        flex: 1 1 14.28%;
        max-width: 14.28%;
    }

    main section .containerList .largeContainerFrame .container {
        width: 95%;
    }

    main section .containerList .smallContainerFrame .container {
        width: 90%;
    }

    main section .containerList .largeContainerFrame .thumbnailContainer {
        border-radius: 10px;
    }

    main section .containerList .largeContainerFrame .thumbnailContainer:not(.imagesHidden .thumbnailContainer) {
        height: 29vw;
    }

    main section .containerList .smallContainerFrame .thumbnailContainer {
        border-radius: 5px;
    }

    main section .containerList .smallContainerFrame .thumbnailContainer:not(.imagesHidden .thumbnailContainer) {
        height: 33vh;
    }

    main section .logoList {
        display: flex;
        justify-content: space-evenly;
    }

    main section .logoList .logoContainer {
        margin: 20px auto;
    }

    main section .logoList .logoContainer .imageContainer {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main section .logoList .logoContainer .imageContainer img {
        max-width: 9vw;
        max-height: 4.5vw;
        margin: auto;
    }
}

@media (max-width: 1100.5px) {
    main section {
        padding: 20px 30px 50px 30px;
    }

    main section h1 {
        text-align: center;
    }

    main section .containerList .containerFrame {
        flex: 1 1 50%;
        max-width: 50%;
    }

    main section .containerList .containerFrame .thumbnailContainer {
        max-width: 350px;
        border-radius: 10px;
    }

    main section .containerList .containerFrame .thumbnailContainer:not(.imagesHidden .thumbnailContainer) {
        height: 350px;
    }

    main section .logoList .logoContainer {
        display: block;
        margin: 50px 0;
    }

    main section .logoList .logoContainer .imageContainer img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 200px;
    }

    main section .button {
        display: block;
        margin: auto;
    }
}

@media (min-width: 800.5px) {
    main section .textImage {
        float: right;
        width: 35%;
        margin-left: 20px;
    }

    main section .buttonContainer .moreButton {
        text-align: end;
    }
}

@media (max-width: 799.5px) {
    main section .textImage {
        width: 100%;
        margin-bottom: 20px;
    }

    main section .buttonContainer .moreButton {
        text-align: center;
    }

    main section .containerList .containerFrame {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/*****************************************************/

footer .menu {
    background-color: #036AA0;
    padding: 40px;
}

footer .menu .logo {
    height: 65px;
}

footer .options {
    display: flex;
    flex-wrap: wrap;
    background-color: #0680C1;
}

footer .options * {
    display: inline-block;
    margin: 25px;
}

footer .options .archive {
    color: white;
}

footer .options .archive:hover {
    color: lightblue;
}

footer .options .report {
    color: pink;
}

footer .options .report:hover {
    color: rgb(255, 118, 118);
}

footer .logos {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

footer .logos .logoContainer {
    flex: 1 1 33%;
}

footer .logos .logoContainer * {
    display: block;
}

@media (min-width: 800.5px) {
    footer .logos .logoContainer * {
        max-height: 65px;
    }

    footer .logos .funds {
        margin-left: 5vw;
    }

    footer .logos .poland {
        margin: auto;
    }

    footer .logos .eu {
        margin-left: auto;
        margin-right: 5vw;
    }
}

@media (max-width: 799.5px) {
    footer .options * {
        flex: 1 1 100%;
        text-align: center;
    }

    footer .logos .logoContainer {
        flex: 1 1 100%;
    }

    footer .logos .logoContainer * {
        max-width: 200px;
        margin: auto;
    }
}