header {
    height: calc(100vh - 65px);
}

header .headerBackground {
    background-image: url('../images/pictures/main.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

header .headerBackground * {
    position: absolute;
    top: 25px;
}

@media (min-width: 500.5px) {
    header .headerBackground * {
        height: 100px;
    }
    
    header .headerBackground .logo {
        left: 25px; /* 130px */
    }
    
    header .headerBackground .gold {
        left: 200px; /* 305px */
    }
    
    header .headerBackground .country {
        right: 25px; /* left: 25px */
    }
}

@media (max-width: 500.5px) {
    header .headerBackground * {
        height: 22vw;
    }
    
    header .headerBackground .logo {
        left: 25px;
    }
    
    header .headerBackground .gold {
        left: calc(25px + 37vw);
    }
    
    header .headerBackground .country {
        right: 25px;
    }
}

/*****************************************************/

.navbar .navbarList {
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}
