header {
    height: calc(100vh - 65px);
}

/* header .headerBackground {
    background-image: url('../images/pictures/main.png');
    background-size: cover;
    background-position: center;
    height: 100%;
} */

header .background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header .image {
    position: absolute;
    top: 25px;
}

@media (min-width: 500.5px) {
    header .image {
        height: 100px;
    }

    header .logo {
        left: 25px;
        /* 130px */
    }

    header .gold {
        left: 200px;
        /* 305px */
    }

    header .country {
        right: 25px;
        /* left: 25px */
    }
}

@media (max-width: 500.5px) {
    header .image {
        height: 22vw;
    }

    header .logo {
        left: 25px;
    }

    header .gold {
        left: calc(25px + 37vw);
    }

    header .country {
        right: 25px;
    }
}