.navbar .navbarLeft .mainPageLink img {
    display: block;
    width: 102px;
}

.navbar .navbarLeft .mainPageLink img:hover {
    background-color: #036AA0;
}

@media (pointer: fine) {
    .navbar .mainPageLink img {
        display: block;
    }
    
    .navbar .mainPageLink p {
        display: none;
    }
}

@media (pointer: coarse) {
    .navbar .mainPageLink img {
        display: none;
    }

    .navbar .mainPageLink p {
        display: block;
    }
}

/*****************************************************/

header {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

header img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    flex: 0 0 auto;
}