.navbar .navbarList {
    grid-template-columns: 102px repeat(auto-fit, minmax(10px, 1fr));
}

.navbar .mainPageLink img {
    height: 65px;
}

.navbar .mainPageLink:hover img {
    filter: brightness(0.91) contrast(1.4) saturate(0.7);
}

@media (pointer: fine) {
    .navbar .mainPageLink img {
        display: block;
    }
    
    .navbar .mainPageLink p {
        display: none;
    }
}

@media (pointer: coarse) {
    .navbar .mainPageLink img {
        display: none;
    }

    .navbar .mainPageLink p {
        display: block;
    }
}

/*****************************************************/

header {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

header img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    flex: 0 0 auto;
}