.navbar .navbarList {
    grid-template-columns: 102px repeat(auto-fit, minmax(10px, 1fr));
}

.navbar .mainPageLink img {
    display: block;
    height: 65px;
}

.navbar .mainPageLink:hover img {
    filter: brightness(0.91) contrast(1.4) saturate(0.7);
}

/*****************************************************/

header {
    height: calc(100vh - 191.5px);
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

header img {
    width: 100%;
    object-fit: cover;
    flex: 0 0 auto;
}

/*****************************************************/

main section h1 {
    min-height: 50px;
}